@import "../../../Assets/theme/_mixins.scss";


.form-label,
.form-check-label {
  font-size: 1.4rem;
  font-weight: 500;
  color: $gray4;
}

.customInput {
  margin-bottom: 2rem;

  @media (max-width: 1679px) {
    margin-bottom: 2rem;
  }

  &_inner {
    position: relative;

    span {
      position: absolute;
      right: 5%;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .form-control {
    // height: 6rem;
    box-shadow: none;
    outline: none;
    width: 100%;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 4rem;
    padding: 0.9rem 2.7rem;
    border: 1px solid rgba(0, 0, 0, 0.20);
    // border: 0.1rem solid rgba($white, 0.1);
    border-radius: 3.5rem;
    background-color: transparent;
    color: $baseColor7;

    &:focus {
      background-color: transparent;
      border-color: 1px solid rgba(0, 0, 0, 0.20);
      // color: $white;
    }

    &::placeholder {
      color: $baseColor7;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 2.1rem;
      @media (max-width:767px) {
        font-size: 1.2rem;
      }

    }

    &:focus {
      box-shadow: none;
    }

    &.passwordInput {
      padding-right: 60px;
    }

    @media (max-width: 1679px) {
      font-size: 1.3rem;
      padding: 0.25rem 1.5rem;
    }
  }

  .leftIcon,
  .rightIcon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    p {
      color: $black2;
    }

  }

  .leftIcon {
    position: absolute;
    left: 2rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;

    &.btn {
      cursor: pointer;
    }
  }

  .rightIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.6rem;
    background-color: transparent;

    &.btn {
      cursor: pointer;
    }

    @media (max-width: 1679px) {
      right: 1.2rem;

      svg {
        max-width: 2rem;
      }
    }

    @media (max-width: 1679px) {
      svg {
        max-width: 1.5rem;
      }
    }
  }

  .eyeIcon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;

    svg {
      opacity: 0.7;

      path {}
    }
  }

  .textarea {
    width: 100%;
    border-radius: 20px;
    border: 1px solid rgba($graydark, 0.2);
    resize: none;
    height: 118px;
    line-height: 2.1rem;
    padding: 1rem 1.5rem;
  }

}

.checkbox_input {
  .form-check {
    margin-bottom: 0;
    padding: 0;
    display: flex;
    align-items: center;

    .form-check-input {
      float: unset;
      margin: 0;
      box-shadow: none;
      width: 2rem;
      height: 2rem;
      border-radius: 0.4rem;
      cursor: pointer;
      border-color: rgba($white, 0.6);
      background-color: transparent;

      &:checked {
        background-color: $primaryColor;
        background-image: url(../../../Assets/Images/Icons/check_icon.svg);
        background-size: 1.2rem;
        border-color: $primaryColor;
      }
    }

    .form-check-label {
      line-height: 1;
      margin-left: 1.8rem;
      font-size: inherit;
      color: inherit;
    }

    &.form-switch {
      .form-check-input {
        width: 46px;
      }
    }
  }
}

.textarea {
  width: 100%;
  border-radius: 20px;
  border: 1px solid rgba($graydark, 0.2);
  resize: none;
  height: 118px;
  padding: 1rem 1.5rem;

  &::placeholder {
    font-size: 1.4rem;
    font-weight: 500;
    color: $black2;
  }
}