@import '../../../../Assets/theme/_var.scss';

.Setting {
    &_box {
        border-radius: 3rem;
        background: $white;
        box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.05);
        padding: 2.5rem;

        @media (max-width:575px) {
            padding: 1.5rem;
        }

        &_header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media (max-width:479px) {
                display: block;
            }

            &_info {
                display: flex;
                align-items: center;


                .list_image {
                    width: 8rem;
                    position: relative;

                    @media (max-width:1679px) {
                        width: 6rem;
                    }

                    img {
                        width: 8rem;
                        height: 8rem;
                        border-radius: 5rem;

                        @media (max-width:1679px) {
                            width: 6rem;
                            height: 6rem;
                        }
                    }

                    .upload_img {
                        position: absolute;
                        bottom: -8px;
                        right: -10px;

                        img {
                            width: 3.4rem;
                            height: 3.4rem;
                            border-radius: 5rem;
                        }
                    }
                }

                .list_content {
                    margin-left: 2.2rem;
                    width: calc(100% - 8rem);

                    @media (max-width:1679px) {
                        margin-left: 1.2rem;
                    }

                    h6 {
                        color: $graydark;

                        @media (max-width:767px) {
                            font-size: 1.6rem;
                        }
                    }

                    .user_email {
                        color: $graydark;
                    }
                }
            }
        }

        .social_account {
            border-radius: 5rem;
            border: 1px solid rgba(0, 0, 0, 0.20);
            display: flex;
            align-items: center;
            padding: 1rem 2.7rem;
            margin-bottom: 2rem;

            @media (max-width:1679px) {
                padding: 0.25rem 1.5rem;
            }

            .social_links {
                display: flex;
                align-items: center;
                flex: 0 0 101px;
                border-right: 1px solid $borderColor4;
                padding-right: 1.1rem;

                @media (max-width:479px) {
                    flex: 0 0 95px;
                }

                .social_img {
                    margin-right: 0.6rem;
                }

                a {
                    color: $blue;
                    font-size: 1.4rem;
                }

                .linkedin_link {
                    color: $blue2;
                }

                .telegram_link {
                    color: $blue3;
                }
            }

            .customInput {
                margin-bottom: 0;
                padding-left: 1.1rem;
                flex: 0 0 calc(100% - 101px);
                @media (max-width:479px) {
                    flex: 0 0 calc(100% - 95px);
                }

                .form-control {
                    box-shadow: none;
                    padding: 0;

                    &::placeholder {
                        color: $blue;
                    }
                }

                .blue2 {
                    &::placeholder {
                        color: $blue2;
                    }
                }

                .blue3 {
                    &::placeholder {
                        color: $blue3;
                    }
                }
            }
        }

        .btn-style {
            height: 5rem;
            margin-top: 4rem;

            @media (max-width:991px) {
                margin-top: 1rem;
            }

            @media (max-width:767px) {
                width: 100%;
            }
        }
    }
}