.overlayloader {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 9991;
  height: 102%;
  background-color: #2a2e2fcc;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

.loader {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #fff #fff transparent;
  animation: rotation 1s linear infinite;
}