@import "../../../../Assets/theme/_var.scss";

/*-----------Login Screens Scss starts (Login, Registration and OTP)------------------------*/

.login_page {
  // display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: $white;
  font-family: $baseFont;
  position: relative;

  @media(max-width: 991px) {
    margin: 0 3rem;
  }

  @media(max-width: 575px) {
    margin: 0 1.5rem;
  }


  &::before {
    content: "";
    position: absolute;
    top: -22rem;
    left: 46rem;
    width: 43rem;
    height: 44rem;
    border-radius: 50%;
    opacity: 0.20000000298023224;
    background: #DB1766;
    filter: blur(200px);

    @media(max-width: 1679px) {
      left: 46rem;
    }

    @media(max-width: 1279px) {
      left: 36rem;
    }

    @media(max-width: 991px) {
      left: 20rem;
    }

    @media(max-width: 767px) {
      display: none;
    }
  }

  &::after {
    position: absolute;
    content: "";
    background-image: url(../../../../Assets/Images/bg_2.png);
    top: .4rem;
    left: 95rem;
    width: 43rem;
    height: 44rem;
    border-radius: 50%;
    opacity: 0.20000000298023224;
    background: #FF982F;
    filter: blur(200px);

    @media(max-width: 1679px) {
      left: 66rem;
    }

    @media(max-width: 1279px) {
      left: 46rem;
    }

    @media(max-width: 991px) {
      left: 30rem;
    }

    @media(max-width: 767px) {
      display: none;
    }
  }

  /*-----------------------Common Header Scss starts----------------------*/

  .common_header {
    display: flex;
    align-items: center;
    background: transparent;
    background-color: white;
    // height: 6rem;
    padding: 2.7rem 0;
  }

  /*-----------------------Common Header Scss ends----------------------*/


  &_img {
    margin: 10rem 0;
    text-align: center;

    @media(max-width: 991px) {
      margin: 5rem 0;
      padding: 0 3rem;
    }

    @media(max-width: 575px) {
      margin: 3rem 0;
      padding: 0 1.5rem;
    }

    p {
      margin-top: 9rem;
      color: $baseColor7;

      @media(max-width: 991px) {
        margin-top: 4rem;
        padding: 0 5rem;
      }

      @media(max-width: 575px) {
        padding: 0;
      }
    }


  }

  /*----------------------Scss for Login and Registration Login Box---------------------------*/

  &_box {
    width: 100%;
    max-width: 62.2rem;
    color: $baseColor;
    border-radius: 2.7rem;
    background-color: rgba(255, 255, 255, 0.70) !important;
    backdrop-filter: blur(1.5rem);
    // border: 1px solid rgba(0, 0, 0, 0.2);
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(121deg, rgb(255, 255, 255) 0%, rgb(159, 159, 154) 2%, rgb(240, 240, 240) 50%, rgb(174, 175, 158) 75%, rgb(228, 228, 228) 100%) border-box;
    border: 1px solid transparent;
    padding: 5.5rem 4.8rem;
    margin: 10rem auto 10rem;

    @media(max-width: 1366px) {
      max-width: 52rem;
    }

    @media(max-width: 991px) {
      margin: 5rem 3rem;
      padding: 3rem;
      max-width: 100%;
    }

    @media(max-width: 575px) {
      padding: 2rem;
      margin: 0 0 3rem;
    }


    h4 {
      font-size: 3.6rem;
      font-weight: 700;
      margin-bottom: 2rem;

      @media(max-width: 1679px) {
        font-size: 3rem;
      }

      @media(max-width: 1279px) {
        font-size: 2.2rem;
      }
    }

    p {
      font-size: 1.6rem;
      color: $white;
      font-weight: 700;

      @media(max-width: 575px) {
        font-size: 1.4rem;
      }
    }

    .customInput {
      margin-top: 2rem;
      margin-bottom: 0;

      @media(max-width: 575px) {
        margin-top: 1rem;
      }


      &:first-child {
        margin-top: 4.2rem;

        @media(max-width: 991px) {
          margin-top: 3.5rem;
        }

        @media(max-width: 575px) {
          margin-top: 2.8rem;
        }
      }

      label {
        font-size: 1.8rem;

        @media(max-width: 767px) {
          font-size: 1.6rem;
        }

        @media(max-width: 575px) {
          font-size: 1.4rem;
        }
      }
    }

    .frgt-pswrd {
      background: linear-gradient(90deg, #FF992E 82%, #F88038 83%, #E74352 67%, #DA1467 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      display: block;

      @media(max-width: 575px) {
        font-size: 1.4rem;
      }
    }

    &_btn {
      span {
        background: $gradient5;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }


  }

  /*----------------------Scss for Login and Registration Login Box ends---------------------------*/


  /*-------------OTP block starts--------------------*/

  &_box_otp {
    margin-top: 10rem;
    width: 100%;
    max-width: 62.2rem;
    color: $baseColor;
    border-radius: 2.7rem;
    background-color: rgba(255, 255, 255, 0.70) !important;
    backdrop-filter: blur(1.5rem);
    // border: 1px solid rgba(0, 0, 0, 0.2);
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(121deg, rgb(255, 255, 255) 0%, rgb(159, 159, 154) 2%, rgb(240, 240, 240) 50%, rgb(174, 175, 158) 75%, rgb(228, 228, 228) 100%) border-box;
    border: 1px solid transparent;
    padding: 5.5rem 4.8rem;
    margin: 0 auto;

    @media(max-width: 991px) {
      margin: 0 auto 5rem;
      padding: 3rem;
    }

    @media(max-width: 575px) {
      margin: 0 auto 3rem;
      padding: 2rem;
    }


    input[type="text"] {
      width: 7.2rem !important;
      height: 5.8rem;
      border-radius: 3.5rem;
      border: 1px solid #e9d5d5;
      margin-right: 1.8rem;

      &:focus-visible {
        outline: unset;
      }

      @media(max-width:1679px) {
        // width: 6.5rem !important;
        height: 5rem;
        margin-right: 1rem;
      }

      @media(max-width: 1279px) {
        width: 5.2rem !important;
        height: 4rem;
        margin-right: 0.8rem;
      }

      @media(max-width: 991px) {
        width: 7.2rem !important;
      }

      @media(max-width: 575px) {
        width: 5.5rem !important;
        margin-right: 1.2rem;
        height: 3.5rem;
      }

      @media(max-width: 479px) {
        width: 3.7rem !important;
        margin-right: 0.6rem;
        height: 3rem;
      }
    }

    h4 {
      font-weight: 700;
      font-size: 3.6rem;

      @media(max-width: 1679px) {
        font-size: 3rem;
      }

      @media(max-width: 1279px) {
        font-size: 2.2rem;

      }

    }

    p {
      color: $baseColor7;
      font-size: 1.6rem;
    }

    h6 {
      margin: 2rem 0 2.6rem;

      @media(max-width: 1279px) {
        font-size: 1.8rem;
      }
    }

    span {
      display: none;
    }
  }

  /*-------------OTP block ends--------------------*/

}

/*----------------Login Styling ends here----------------------*/