@import "~bootstrap/scss/bootstrap";
@import "./Assets/theme/_var.scss";
@import "./Assets/theme/_mixins.scss";

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;

  body {
    font-size: 1.6rem;
    font-family: $baseFont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // background-color: $baseColor;
    color: $white;
    // background-image: url(./Assets/Images/main_bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

html,
body,
#root {
  height: 100%;
}

.row {
  margin: 0 -15px;

  >div {
    // padding: 0 15px;
  }
}

img,
svg {
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

a,
span {
  display: inline-block;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

figure {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4 {
  // font-family: $baseFont2;
  font-weight: 400;


  span {
    color: transparent;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: $white;
  }
}

h1 {
  font-size: 5.4rem;

  @media (max-width: 1679px) {
    font-size: 4rem;
  }

  @media (max-width: 1199px) {
    font-size: 3rem;
  }

  @media (max-width: 767px) {
    font-size: 2.4rem;
  }
}

h2,
.h2 {
  font-size: 5rem;

  @media (max-width: 1679px) {
    font-size: 3.6rem;
  }

  @media (max-width: 767px) {
    font-size: 2.4rem;
  }
}

h3,
.h3 {
  font-size: 4.4rem;

  @media (max-width: 1679px) {
    font-size: 3rem;
  }

  @media (max-width: 767px) {
    font-size: 2rem;
  }
}

h4,
.h4 {
  font-size: 2.4rem;

  @media (max-width: 1679px) {
    font-size: 2.2rem;
  }

  @media (max-width: 767px) {
    font-size: 1.8rem;
  }
}

h5,
.h5 {
  font-size: 2.2rem;

  @media (max-width: 1679px) {
    font-size: 2rem;
  }
}

h6,
.h6 {
  font-size: 2rem;
}

p,
.p {
  font-size: 1.6rem;
  font-weight: 400;
  // color: rgba($white, 0.8);

  @media (max-width: 1679px) {
    font-size: 1.4rem;
  }

  @media (max-width: 767px) {
    font-size: 1.2rem;
  }
}

small,
.small {
  font-size: 1rem;
}

.green_text {
  color: $primaryColor !important;
}

.red_text {
  color: #f00 !important;
}

.container {
  max-width: 1574px;

  //   @media (max-width: 1679px) {
  //     max-width: 1440px;
  //     padding-left: 1.5rem;
  //     padding-right: 1.5rem;
  //   }

  @media (max-width: 1399px) {
    max-width: 1140px;
  }

  @media (max-width: 1199px) {
    max-width: 960px;

  }

  // @media (max-width: 991px) {
  //   max-width: 720px;
  // }

}

.inner-page {
  background-color: $baseColor;
  height: 100%;
  padding: 4rem 0;
}

.error-message {
  font-size: 1.2rem;
  color: #f00;
}

div:where(.swal2-container) div:where(.swal2-popup) {
  display: none;
  position: relative;
  box-sizing: border-box;
  grid-template-columns: minmax(0, 100%);
  width: 32em;
  max-width: 100%;
  padding: 0 0 1.25em;
  color: $white;
  font-family: inherit;
  font-size: 1rem;
  background: #0D171B !important;
  border: 1px solid #22353d;
  -webkit-backdrop-filter: blur(3.7rem);
  backdrop-filter: blur(3.7rem);
  border-radius: 4rem;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  background-color: $orangeclr;
  font-size: 1.6rem;
  border-radius: 3rem;
}

div:where(.swal2-icon).swal2-info {
  border-color: $orangeclr;
  color: $orangeclr;
}

.select__control {
  background-color: $white;
}