@import "../../../Assets/theme/_var.scss";

.modal-backdrop.show {
  opacity: 0.8 !important;
}

.commonModal {
  .modal-dialog {
    max-width: 63rem;
    padding: 0 1.5rem;
  }
  .modal-content {
    background-color: $baseColor;
    padding: 4rem 5rem;
    box-shadow: 0px 0px 77px rgba(124, 208, 222, 0.1);
    border-radius: 1rem;
    position: relative;

    @media (max-width: 767px) {
      padding: 2rem 3rem;
    }
    @media (max-width: 575px) {
      padding: 2rem;
    }
  }
  .modal-header {
    border: 0;
    justify-content: center;
    margin-bottom: 3rem;
    @media (max-width: 767px) {
      margin-bottom: 1.5rem;
    }
    .modal_close_btn {
      position: absolute;
      right: -1rem;
      top: -1rem;
      background: $primaryColor;
      border: 0;
      width: 3.6rem;
      height: 3.6rem;
      border-radius: 50%;
      @media (max-width: 767px) {
        width: 2.4rem;
        height: 2.4rem;

        img {
          width: 0.7rem;
        }
      }
    }
  }
  .modal-body {
    padding: 1rem 0;
  }
}
